#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.container-fluid {
  padding: 3% 15% 7%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}

/*navigation bar*/
.navbar {
  padding: 0 0 4.5rem 0;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 900;
}

/*download button*/
.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  position: absolute;
  right: 30%;
  width: 60%;
  transform: rotate(25deg);
}

/*feature*/
.feature-icon {
  color: #ef8172;
  font-size: 5rem;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

.feature-heading {
  font-size: 1.5rem;
}

.feature-line {
  color: #8f8f8f;
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
}

/*testimonial section*/
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/*press*/
#press {
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */
#pricing {
  text-align: center;
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

/*CTA SECTION*/
#cta {
  text-align: center;
  color: #fff;
  background-color: #ff4c68;
  padding: 7% 15%;
}

.cta-heading {
  font-family: Montserrat-black;
  font-size: 3.5rem;
  line-height: 1.5;
}

#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 970px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
